@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  width: 100dvw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

@layer base{
  @font-face {
    font-family: "libre-regular";
    src: url("/fonts/LibreBaskerville-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "libre-bold";  
    src: url("/fonts/LibreBaskerville-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "libre-italic";
    src: url("/fonts/LibreBaskerville-Italic.woff2") format("woff2");
  }
  img {
    @apply block max-w-full;
  }
  p{
    @apply text-[#000] font-normal text-[0.5rem] md:text-[1rem] lg:text-[1.5rem] leading-[0.625rem] md:leading-[1.25rem] lg:leading-[2.25rem]
  }
  

}

@layer utilities{
  /* Start of Typography */
  .main-heading{
    @apply font-libre-regular ;
  }
  .hero-heading{
    @apply font-libre-bold text-[2rem] leading-[1.875rem] md:text-[3.75rem] md:leading-[4.0625rem]  lg:text-[6.625rem] lg:leading-[7rem] ;
  }
  .hero-content{
    @apply text-[0.5rem] leading-[0.82463rem] md:text-[1rem] md:leading-[1.75rem]  lg:text-[1.5rem] lg:leading-[2.25rem];
  }
  .hero-subheading{
    @apply text-[0.75rem] leading-[0.94244remrem] md:text-[1.5rem] md:leading-[2rem] ;
  }

  .banner-heading{
    @apply font-libre-bold text-[2rem] leading-[2.4375rem] md:text-[2.08006rem] md:leading-[2.4375rem]  lg:text-[3.375rem] lg:leading-[3.75rem];
  }
  .banner-content{
    @apply text-[0.75rem] md:text-[1rem] lg:text-[1.5rem] leading-normal;
  }

  .review-content{
    @apply p-1 text-[0.6rem] leading-[1rem] md:text-[1rem] md:leading-[1.75rem] lg:text-[1.25rem] lg:leading-[1.875rem] text-start ;
  }
  .footer-content{
    @apply md:text-[1rem] lg:text-[1.5rem] leading-[2rem] text-white;
  }
  .sub-heading{
    @apply font-libre-bold text-[1.5rem] md:text-[2.25rem] lg:text-[3.375rem] leading-[1.75rem] md:leading-[3.125rem] lg:leading-[3.125rem] text-primary;
  }
  .px{
    @apply md:pl-16 md:pr-16 pl-6 pr-6 
  }
 
  .my{
    @apply mt-14 mb-14
  }
  .slider-container{
    @apply w-[85vmin] h-[40vmin] md:w-[80vmin] md:h-[40vmin] ;
  }
  .slider-card-container{
    @apply absolute p-2 md:pt-[2rem] md:pr-[2rem] md:pb-[2rem] md:pl-[1.875rem] top-0 left-0 w-full h-full rounded-[0.75rem] border-[0.12px] border-black shadow-lg overflow-hidden transition-all duration-150 ease-out
  }
  .main-container{
    @apply px my min-h-8 w-full
  }
  .header-container{
    @apply px mt-24 md:mt-32 mb-14
  }

  .logo-img{
    @apply md:w-[200px] w-[150px]
  }

 /* Start with buttons */
  .btn-primary{
    @apply bg-[#FFC24A] h-fit w-fit pt-2 pb-2 pr-7 pl-7 md:pt-3.5 md:pb-3.5 md:pl-12 md:pr-12 text-[0.75rem] leading-[0.70681rem] md:text-[1.25rem] md:leading-[1.5rem] lg:text-[1.5rem] lg:leading-[1.5rem] text-[#53683F] font-medium rounded-xl transition duration-300 ease-in-out hover:bg-[#ea9a3f]
  }

  .transition-smooth{
    @apply transition duration-300 ease-in-out
  }
}

/* 
---break--- */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}